export(coalesce.na)
export(export)
export(export.list)
export(hms.to.seconds)
export(in.interval.lo)
export(in.interval.ro)
export(nc)
export(nin.interval.lo)
export(nin.interval.ro)
export(nlist)
export(rcpp_hello_world)
export(sample.rows)
export(seconds.to.hms)
export(setMissingNames)
export(tc)
export(tlist)
useDynLib(kimisc)
